<style>


    .page_title {
        width: 100%;
        height: 100px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 42px;
        display: block;
        text-align: center;
        color: #DC7A33;
        line-height: 100px;
    }

    .filters_section {
        width: 100%;
        background: #181818;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .selected_filters {
        width: 50%;
    {#background: #3A3A3A;#} height: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .selected_filter_card {
        padding-inline: 5px;
        background: #181818;
        margin-right: 5px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #DC7A33;
        text-align: center;
    }

    .filters,
    .view {
        margin-right: 15px;
        margin-top: auto;
    }

    .filters {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .filter, .show_button, .reset_button {
        margin-right: 20px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #DC7A33;
        text-decoration: none;
        text-align: center;

    }

    .reset_button:hover {
        text-decoration: underline;
    }

    .catalog {
    {#background: #3A3A3A;#} width: 100%;
        border-bottom: 2px solid #181818;
    }

    .cards {
        display: grid;
        /* Автоматически заполняем на всю ширину grid-контейнера */
        grid-template-columns: repeat(auto-fill, 225px);
        width: 80%;
        max-width: 1000px; /* Ширина grid-контейнера */
        justify-content: center;
        justify-items: center; /* Размещаем карточку по центру */
        column-gap: 30px; /* Отступ между колонками */
        row-gap: 40px; /* Отступ между рядами */
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .card {
        width: 220px;
        min-height: 350px;
        display: flex;
        flex-direction: column; /* Размещаем элементы в колонку */
        transition: 0.2s;
        position: relative;
        background: #181818;
        border: 1px solid black;
        border-radius: 10px;
    }

    .card_top {
        flex: 0 0 150px; /* Задаем высоту 150px, запрещаем расширение и сужение по высоте */
        position: relative;
        overflow: hidden; /* Скрываем, что выходит за пределы */
        margin: 10px 10px 0 10px;
        border-radius: 10px;
    }

    .card_image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card_image > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Встраиваем картинку в контейнер card__image */
        transition: 0.2s;
    }

    .card_image:hover > img {
        transform: scale(1.1);
    }

    .card_bottom {
        margin: 0 10px 10px 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    }

    .card_bottom form {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .card_title {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 100%;
        color: #DC7A33;
        text-decoration: none;
        cursor: pointer;
    }

    .card_price {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 100%;
        color: #DC7A33;
    }

    .card_title:hover {
        color: #DC7A33;
        text-decoration: underline;
    }

    .card_add,
    .card_buy {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        color: #181818;
        background: #DC7A33;
        padding: 7px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer; /* Меняем курсор при наведении */
        margin-top: auto;
        text-decoration: none; /* Прижимаем кнопку к низу карточки */
        border-radius: 10px;
    }

    .card_add {
        background: #181818;
        color: #DC7A33;
    }

    .card_add:hover {
        background: #DC7A33;
        color: #fff;
    }

    .card_buy:hover {
        color: #fff;
    }

    .form-control {
        background: #181818;
        border: 0;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        width: 18px;
        color: #DC7A33;
    }

    .show_button {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #181818;
        background: #DC7A33;
        border-width: 1px;
        border-color: #DC7A33;
        border-radius: 5px;
    }

    .show_button:active,
    .show_button:hover {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #DC7A33;
        background: #181818;
        border-width: 1px;
        border-color: #DC7A33;
        border-style: solid;
        cursor: pointer;
    }

    @media (max-width: 599px) {
        .filters_section {
            height: auto;
        }

        .filters {
            margin: 20px auto 20px auto;
            background: #181818;
            height: auto;
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(2, auto);
            column-gap: 50px;
            row-gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .filter, .show_button, .reset_button {
            margin-right: 0;
        }

        .cards {
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(auto-fill, 150px);
            width: 90%;
            max-width: 1000px; /* Ширина grid-контейнера */
            justify-content: center;
            justify-items: center; /* Размещаем карточку по центру */
            column-gap: 15px; /* Отступ между колонками */
            row-gap: 20px; /* Отступ между рядами */
            margin: 0 auto;
            margin-bottom: 50px;
        }

        .card {
            width: 150px;
            min-height: 175px;
            display: flex;
            flex-direction: column; /* Размещаем элементы в колонку */
            transition: 0.2s;
            position: relative;
            background: #181818;
            border: 1px solid black;
            border-radius: 10px;
        }

        .card_top {
            flex: 0 0 150px; /* Задаем высоту 150px, запрещаем расширение и сужение по высоте */
            position: relative;
            overflow: hidden; /* Скрываем, что выходит за пределы */
            margin: 5px 5px 0 5px;
            border-radius: 10px;
        }

        .card_bottom {
            margin: 0 5px 5px 5px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
        }

        .card_title {
            font-size: 14px;
        }

        .card_price {
            font-size: 24px;
        }

        .card_add,
        .card_buy {
            font-size: 14px;
        }
    }
</style>
{% extends 'nixie_app/index.html' %}
{% load widget_tweaks %}
{% block 'title' %}Каталог {% endblock %}
{% block nav_catalog %}
    class="active"
{% endblock %}

{% block 'page_content' %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.add-form').submit(function (e) {
                e.preventDefault()

                const url = $(this).attr('action')
                console.log(url)
                let res;
                const products = parseInt($(`.cart_counter`).html())

                $.ajax({
                    type: 'POST',
                    url: url,
                    cache: true,
                    data: $(this).serialize(),
                    success: function (response) {
                        res = products + 1
                        $(`#counter`).text(res)
                    },
                    error: function (response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>

    <section class="page_title">
        <a>Каталог</a>
    </section>

    <section class="filters_section">
        <form id='filters' class="filters" method="get">
            {% for field in filter.form %}
                <div class="filter">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            <button class="show_button">Показать</button>
            {% if has_filter %}
                <a class="reset_button" href="{% url 'catalog-name' %}">
                    Сбросить
                </a>
            {% endif %}
        </form>

    </section>
    <section class="selected_filters">
        {% for filter in current_filters %}
            {% if filter != "" %}
                <div class="selected_filter_card">{{ filter }}</div>
            {% endif %}
        {% endfor %}
    </section>
    <!-- Каталог по карточкам -->
    <section class="catalog">
        <div class="cards">
            {% for product in filter.qs %}
                <div class="card">
                    <!-- Верхняя часть -->
                    <div class="card_top">
                        <!-- Изображение-ссылка товара -->
                        <a href="{{ product.get_absolute_url }}" class="card_image">
                            <img src="
                                    {% if product.image1 %}{{ product.image1.url }}{% else %}{{ "/images/sample.png" }}{% endif %}"/>
                        </a>
                    </div>
                    <!-- Нижняя часть -->
                    <div class="card_bottom">
                        <!-- Ссылка-название товара -->
                        <a href="{{ product.get_absolute_url }}" class="card_title">
                            {{ product.name }}
                        </a>
                        <!-- Цена на товар -->
                        <div class="card_price">
                            {{ product.price }} руб.
                        </div>

                        <!-- Кнопки купить и добавить в корзину -->
                        <a href="{% url "orders:order_create_one" product.id %}" class="card_buy">Купить</a>
                        <form action="{% url "cart:cart_add" product.id %}" method="post" class="add-form">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <button id="update" type="submit" class="card_add">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}


