<style>
    .page_title {
        width: 100%;
        height: 100px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 42px;
        display: block;
        text-align: center;
        color: #DC7A33;
        line-height: 100px;
    }

    .detail_section {
        background: #181818;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        display: block;
        padding-bottom: 50px;
    }

    .main {
        width: 80%;
        display: flex;
        flex-direction: row; /* Размещаем элементы в колонку */
        transition: 0.2s;
        position: relative;
        justify-content: center;
        margin: auto;
    }

    .description {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .description h3 {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        color: #DC7A33;
        margin-bottom: 0;
        margin-top: 3%;
    }

    .description p, ul {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #FFFFFF;

    }

    .description_div {
        width: 40%;
        text-align: center;
    }

    .left, .right, .center {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .pictures {
        height: auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .left {
        height: 400px;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        width: 60%;
        float: left
    }

    .center {
        height: 400px;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        margin-right: 40px;
        width: 40%;
        float: left
    }

    .right {
        height: 400px;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        width: 20%;
        float: right
    }

    .card_image_center_top {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(50% - 5px);
    }

    .card_image_center_bottom {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(50% - 5px);
    }

    .card_right_top {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        text-align: left;
    }

    .card_right_bottom {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .name {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        color: #DC7A33;
        margin-bottom: 0;
    }

    .price {
        margin-top: 10px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #DC7A33;

    }

    .card_image_left {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card_image_left > img,
    .card_image_center_top > img,
    .card_image_center_bottom > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Встраиваем картинку в контейнер card__image */
        transition: 0.2s;
        border-radius: 10px;
    }

    .card_add,
    .card_buy {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        display: block;
        width: 100%;
        color: #181818;
        background: #DC7A33;
        box-sizing: border-box;
        padding: 7px;
        text-align: center;
        border: 2px solid black;
        cursor: pointer; /* Меняем курсор при наведении */
        margin-top: 5px; /* Прижимаем кнопку к низу карточки */
        text-decoration: none;
        left: 0;
        border-radius: 10px;
    }

    .card_add {
        background: #181818;
        color: #DC7A33;

    }

    .card_add:hover {
        background: #DC7A33;
        color: #fff;
    }

    .card_buy:hover {
        color: #fff;
    }

    @media (max-width: 1199px) {
        .main {
            width: 90%;
        }

        .left,
        .center,
        .right {
            height: 300px;
        }

        .name {
            font-size: 18px;
        }

        .price {
            font-size: 32px;
        }

        .card_add,
        .card_buy {
            font-size: 18px;
        }

        @media (max-width: 899px) {
            .page_title {
                line-height: 42px;
                margin-top: 29px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            .main {
                width: 90%;
                display: flex;
                flex-direction: column; /* Размещаем элементы в колонку */
                transition: 0.2s;
                position: relative;
                justify-content: center;
                margin: auto;
            }

            .right, .pictures {
                width: 100%;
            }

            .pictures {
                overflow-x: scroll;
                border-radius: 10px;
                display: grid;
                grid-template-columns: repeat(2, 300px);
                column-gap: 25px;
            }

            .left, .center {
                flex-direction: row;
                height: 200px;
                overflow: visible;
                margin-right: 0;
            }


            .card_image_left,
            .card_image_center_bottom,
            .card_image_center_top {
                height: 100%;
                width: 300px;
            }

            .card_image_center_bottom {
                top: 0;
                left: 325px;
            }

            .description_div {
                width: 90%;
            }

            .right {
                height: 300px;
            }
        }
    }

</style>
{% extends 'nixie_app/index.html' %}
{% block 'title' %}{{ product.name }} {% endblock %}
{% block 'page_content' %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.add-form').submit(function (e) {
                e.preventDefault()

                const url = $(this).attr('action')
                console.log(url)
                let res;
                const products = parseInt($(`.cart_counter`).html())

                $.ajax({
                    type: 'POST',
                    url: url,
                    cache: true,
                    data: $(this).serialize(),
                    success: function (response) {
                        res = products + 1
                        $(`#counter`).text(res)
                    },
                    error: function (response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
    <section class="page_title">
        <a>{{ product.name }}</a>
    </section>
    <section class="detail_section">
        <div class="main">
            <div class="pictures">
                <div class="left">
                    <a class="card_image_left">
                        <img src="


                                {% if product.image1 %}{{ product.image1.url }}{% else %}{{ '/images/sample.png' }}{% endif %}">
                    </a>
                </div>
                <div class="center">
                    <a class="card_image_center_top">
                        <img src="


                                {% if product.image2 %}{{ product.image2.url }}{% else %}{{ '/images/sample.png' }}{% endif %}">
                    </a>
                    <a class="card_image_center_bottom">
                        <img src="








                                {% if product.image3 %}{{ product.image3.url }}{% else %}{{ '/images/sample.png' }}{% endif %}">
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="card_right_top">
                    <p class="name">{{ product.name }}</p>
                    <p class="price">{{ product.price }} руб.</p>
                </div>
                <div class="card_right_bottom">
                    <a href="{% url "orders:order_create_one" product.id %}" class="card_buy">Купить</a>
                    <form class='add-form' action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <button type="submit" class="card_add">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="description">
            <h3>ОПИСАНИЕ</h3>
            <div class="description_div"><p>{{ product.description }}</p></div>
            <h3>ХАРАКТЕРИСТИКИ</h3>
            <div class="description_ul">
                <ul>
                    <li>Размеры: {{ product.width }}х{{ product.height }}х{{ product.length }}</li>
                    <li>Лампы: {{ product.lamp_type }}</li>
                    <li>Кол-во ламп: {{ product.lamp_currency }}</li>
                    <li>Материал: {{ product.material }}</li>
                    <li>Блок питания: 12V 1A</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}