<style>
    .clock {
        width: 100%;
        height: calc(100% - 73px);
        background: #3A3A3A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: bottom;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .heading_head {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 350;
        font-size: 96px;
        color: #DC7A33;
        margin-bottom: 0px;
        text-align: center;
    }

    .heading_text {
        margin-top: 0px;
        width: 450px;
        height: 40px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: lowercase;
        color: #FFFFFF;
    }

    .case {
        display: inline-block;
        position: relative;
        min-height: 268px;
        min-width: 722px;
        max-height: 268px;
        max-width: 722px;
        bottom: 0;
        margin-top: 1%;
    }

    .numbers {
        position: absolute;
        height: 72px;
        width: 558px;
        top: 78px;
        left: 84px;
        display: flex;
        flex-direction: row;
    }

    .number1 {
        margin-right: 35px;
        margin-left: -3px;
    }

    .number2 {
        margin-right: 24px;
    }

    .number3 {
        margin-right: 35px;
    }

    .number4 {
        margin-right: 25px;
    }

    .number5 {
        margin-right: 35px;
    }

    .dot1, .dot2 {
        height: 30px;
        width: 15px;
        margin-top: 53px;
        margin-right: 26px;
    }


    .carousel {
        max-width: 500px;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
    }

    .carousel .btn {
        position: absolute;
        bottom: 80px;
    }

    .carousel .btn:hover {
        filter: brightness(150%);
        cursor: pointer;
    }

    .carousel .btn.next {
        right: -20px;
    }

    .carousel .btn.prev {
        left: -20px;
    }

    .btn.prev img,
    .btn.next img {
        border-radius: 10px;
    }

    .scroller {
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        border-radius: 10px;
    }

    .item {
        min-width: 100%;
        min-height: 200px;
        scroll-snap-align: center;
        border-radius: 10px;
    }

    .item img {
        border-radius: 10px;
    }


    .main_info {
        width: 100%;
        height: 500px;
        background: #181818;
    }

    .main_info_div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .main_info_left, .main_info_right {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        float: left;
    }

    .main_info_right {
        justify-content: left;
        width: 40%;
        float: right;
    }

    .main_info_text {
        width: 80%;
        margin-left: 0px;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #FFFFFF;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card {
        width: 220px;
        min-height: 350px;
        display: flex;
        flex-direction: column; /* Размещаем элементы в колонку */
        transition: 0.2s;
        position: relative;
        background: #181818;
        border: 1px solid black;
        border-radius: 10px;
    }

    .card_top {
        flex: 0 0 150px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
        position: relative;
        overflow: hidden; /* Скрываем, что выходит за пределы */
        margin: 10px 10px 0 10px;
        border-radius: 10px;
    }

    .card_image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    .card_image > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Встраиваем картинку в контейнер card__image */
        transition: 0.2s;
    }

    .card_image:hover > img {
        transform: scale(1.1);
    }

    .card_bottom {
        margin: 0 10px 10px 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    }

    .card_bottom form {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .card_title {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 100%;
        color: #DC7A33;
        text-decoration: none;
        cursor: pointer;
    }

    .card_price {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 100%;
        color: #DC7A33;
    }

    .card_title:hover {
        color: #DC7A33;
        text-decoration: underline;
    }

    .card_add,
    .card_buy,
    .catalog_button {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        display: block;
        box-sizing: border-box;
        width: 100%;
        color: #181818;
        background: #DC7A33;
        padding: 7px;
        text-align: center;
        border: 1px solid black;
        cursor: pointer; /* Меняем курсор при наведении */
        margin-top: auto;
        text-decoration: none; /* Прижимаем кнопку к низу карточки */
        border-radius: 10px;
    }

    .catalog_button {
        font-size: 36px;
        width: 350px;
    }

    .card_add {
        background: #181818;
        color: #DC7A33;
    }

    .card_add:hover {
        background: #DC7A33;
        color: #fff;
    }

    .card_buy:hover,
    .catalog_button:hover {
        color: #fff;
    }

    .main_catalog_items {
        height: auto;
        background: #3A3A3A;
    }

    .main_catalog_div {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .main_catalog_left {
        display: grid;
        /* Автоматически заполняем на всю ширину grid-контейнера */
        grid-template-columns: repeat(2, 225px);
        max-width: 1000px; /* Ширина grid-контейнера */
        justify-content: right;
        justify-items: right; /* Размещаем карточку по центру */
        column-gap: 50px; /* Отступ между колонками */
        margin: 50px 5px 100px 0px;
        width: 50%;
        float: left;
    }

    .main_catalog_right {
        justify-content: left;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50%;
        float: right;
    }

    .main_catalog_right_top, .main_catalog_right_bottom {
        flex: 0 0 250px;
        position: relative;
    }

    .main_catalog_right_top p {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 42px;
        width: 400px;
        display: flex;
        align-items: center;
        text-align: left;
        position: absolute;
        bottom: 10px;
        left: 150px;
        color: #DC7A33;
    }

    .main_catalog_right_bottom a {
        align-items: center;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 150px;
    }

    .description {
        background: #181818;
        width: 100%;
    }

    .description_div {
        height: auto;
        display: grid;
        /* Автоматически заполняем на всю ширину grid-контейнера */
        grid-template-columns: repeat(4, 225px);
        width: 80%;
        max-width: 2000px; /* Ширина grid-контейнера */
        justify-content: center;
        justify-items: center; /* Размещаем карточку по центру */
        column-gap: 70px; /* Отступ между колонками */
        margin: -50px auto 50px auto;
    }

    .description_card {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 300px;
    }

    .description_card_top,
    .description_card_bottom {
        text-align: center;
        height: 100px;
    }

    .description_card_top p {
        text-align: center;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        width: 100%;
        align-items: center;
        color: #DC7A33;
        margin-bottom: 0;
    }

    .description_card_bottom p {
        text-align: center;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        width: 100%;
        align-items: center;
        margin-top: 0;
        color: #FFFFFF;
    }

    .stages {
        height: auto;
        background: #3A3A3A;
        width: 100%;
    }

    .stages_div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: 50px auto 100px auto;
    }

    .stages_one,
    .stages_two,
    .stages_three,
    .stages_four {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        margin-top: 100px;
    }

    .stages_head {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 40px;
        color: #DC7A33;
        vertical-align: center;
    }

    .stages_top,
    .stages_bottom {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }

    .stages_number {
        width: 25%;
        text-align: left;
        font-family: 'GOST Common';
        font-weight: 300;
        font-size: 92px;
        line-height: 92px;
        color: #DC7A33;

    }

    .stages_photo {
        width: 75%;
        display: block;
        height: 250px;
    }

    .stages_photo > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Встраиваем картинку в контейнер card__image */
        transition: 0.2s;
        border-radius: 10px;
    }

    .stages_description {
        width: 100%;
        margin-left: 20px;

    }

    .stages_two .stages_description,
    .stages_four .stages_description {
        margin-left: 0;
        margin-right: 20px;
    }

    .stages_two .description_top,
    .stages_four .description_top,
    .stages_two .description_bottom,
    .stages_four .description_bottom,
    .stages_two .stages_number,
    .stages_four .stages_number {
        text-align: right;
    }

    .description_top {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        width: 100%;
        align-items: center;
        text-align: left;
        color: #DC7A33;
    }

    .description_bottom {
        text-align: left;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        width: 100%;
        align-items: center;
        color: #FFFFFF;
        margin-top: 20px;
    }

    .functions {
        width: 100%;
        background: #181818;
        height: auto;
    }

    .functions_div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin: 50px auto 50px auto;
        padding-bottom: 100px;
    }

    .functions_head {
        text-align: center;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 40px;
        color: #DC7A33;
        vertical-align: center;
        margin: 100px auto 50px auto;
    }

    .functions_string {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        margin-top: 50px;
        gap: 50px;
    }

    .function {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }

    .function_photo {
        width: 140px;
        display: block;
        height: 150px;
    }

    .function_photo > img {
        width: 100%;
        height: 100%;
        object-fit: fill; /* Встраиваем картинку в контейнер card__image */
        transition: 0.2s;
    }

    .function_description {
        width: calc(100% - 150px);
        margin-left: 20px;
    }

    .function_description_top {
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        width: 100%;
        align-items: center;
        text-align: left;
        color: #DC7A33;
    }

    .function_description_bottom {
        text-align: left;
        font-family: 'GOST Common';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        width: 100%;
        align-items: center;
        color: #FFFFFF;
        margin-top: 20px;
    }

    @media (max-width: 1199px) {
        .clock {
            width: 100%;
            height: calc(100% - 43px);
            background: #3A3A3A;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            vertical-align: bottom;
        }

        .carousel {
            max-width: 300px;
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
        }

        .carousel .btn {
            display: none
        }


        .scroller {
            overflow-x: scroll;
            display: flex;
            scroll-snap-type: x mandatory;
        }

        .item {
            min-width: 100%;
            min-height: 180px;
            scroll-snap-align: center;
        }

        .item img {
            width: 300px;
            height: 180px;
        }

        .main_info {
            width: 100%;
            height: 300px;
            background: #181818;
        }

        .main_info_div {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;

        }

        .main_info_left, .main_info_right {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            float: left;
        }

        .main_info_right {
            width: 50%;
            float: right;
            position: relative;
            margin-bottom: auto;
            margin-left: 10px;
        }

        .main_info_text {
            height: 200px;
            width: 100%;
            margin-left: 0px;
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: auto;
            margin-bottom: auto;
        }

        .main_catalog_right_top p,
        .main_catalog_right_bottom a {
            left: 70px;
        }

        .main_catalog_left {
            column-gap: 20px; /* Отступ между колонками */
        }

        .description_div {
            height: auto;
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(2, 50%);
            width: 80%;
            max-width: 2000px; /* Ширина grid-контейнера */
            justify-content: center;
            justify-items: center; /* Размещаем карточку по центру */
            column-gap: 70px; /* Отступ между колонками */
            margin: 0 auto 0 auto;
        }

        .description_card {
            height: auto;
        }

    }


    @media (max-width: 599px) {
        .heading_head {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 350;
            font-size: 58px;
            color: #DC7A33;
            margin-bottom: 0;
            text-align: center;
        }

        .heading_text {
            margin-top: 0px;
            width: 350px;
            height: 40px;
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: lowercase;
            color: #FFFFFF;
        }

        .case {
            display: inline-block;
            position: relative;
            min-height: 134px;
            min-width: 361px;
            max-height: 134px;
            max-width: 361px;
            bottom: 0;
            margin-top: 30%;
        }

        .case img {
            height: 134px;
            width: 361px;
        }

        .numbers img {
            height: 35.5px;
            width: 27px;
        }

        .numbers {
            position: absolute;
            height: 36px;
            width: 279px;
            top: 39px;
            left: 42px;
            display: flex;
            flex-direction: row;
        }

        .number1 {
            margin-right: 17px;
            margin-left: -1px;
        }

        .number2 {
            margin-right: 12px;
        }

        .number3 {
            margin-right: 18px;
        }

        .number4 {
            margin-right: 12px;
        }

        .number5 {
            margin-right: 18px;
        }

        .dot1, .dot2 {
            height: 15px;
            width: 7.5px;
            margin-top: 26.5px;
            margin-right: 13px;
        }

        .dot1 img, .dot2 img {
            height: 15px;
            width: 7.5px;
        }

        .carousel {
            max-width: 300px;
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
        }

        .carousel .btn {
            display: none
        }


        .scroller {
            overflow-x: scroll;
            display: flex;
            scroll-snap-type: x mandatory;
        }

        .item {
            min-width: 100%;
            min-height: 180px;
            scroll-snap-align: center;
        }

        .item img {
            width: 300px;
            height: 180px;
        }

        .main_info {
            width: 100%;
            height: 500px;
            background: #181818;
        }

        .main_info_div {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            position: relative;
        }

        .main_info_left, .main_info_right {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: 50%;
        }

        .main_info_right {
            top: 0;
            left: 10px;
            width: 90%;
            margin-top: 40px;
        }

        .main_info_text {
            height: 100%;
            width: 100%;
            margin-left: 0px;
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: auto;
            margin-bottom: auto;
        }

        .card {
            width: 220px;
            min-height: 350px;
            display: flex;
            flex-direction: column; /* Размещаем элементы в колонку */
            transition: 0.2s;
            position: relative;
            background: #181818;
            border: 1px solid black;
            margin-bottom: 10px;

        }

        .card_top {
            flex: 0 0 150px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
            position: relative;
            overflow: hidden; /* Скрываем, что выходит за пределы */
            margin: 10px 10px 0 10px;
        }

        .card_image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .card_image > img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Встраиваем картинку в контейнер card__image */
            transition: 0.2s;
        }

        .card_image:hover > img {
            transform: scale(1.1);
        }

        .card_bottom {
            margin: 0 10px 10px 10px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
        }

        .card_bottom form {
            margin-top: 5px;
            margin-bottom: 0;
        }

        .card_title {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 100%;
            color: #DC7A33;
            text-decoration: none;
            cursor: pointer;
        }

        .card_price {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 100%;
            color: #DC7A33;
        }

        .card_title:hover {
            color: #DC7A33;
            text-decoration: underline;
        }

        .card_add,
        .card_buy,
        .catalog_button {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            display: block;
            box-sizing: border-box;
            width: 100%;
            color: #181818;
            background: #DC7A33;
            padding: 7px;
            text-align: center;
            border: 1px solid black;
            cursor: pointer; /* Меняем курсор при наведении */
            margin-top: auto;
            text-decoration: none /* Прижимаем кнопку к низу карточки */
        }

        .catalog_button {
            font-size: 28px;
            width: 100%;
        }

        .card_add {
            background: #181818;
            color: #DC7A33;
        }

        .card_add:hover {
            background: #DC7A33;
            color: #fff;
        }

        .card_buy:hover,
        .catalog_button:hover {
            color: #fff;
        }

        .main_catalog_left {
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(2, 225px); /* Ширина grid-контейнера */
            max-width: 1000px;
            justify-content: left;
            justify-items: left; /* Размещаем карточку по центру */
            column-gap: 50px; /* Отступ между колонками */
            margin: 50px 0px 0px 0px;
            height: 50%;
            width: 100%;
            float: top;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }

        .main_catalog_right {
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 50%;
            width: 100%;
            float: bottom;
        }

        .main_catalog_right_top, .main_catalog_right_bottom {
            flex: 0 0 250px;
            position: relative;
        }

        .main_catalog_right_top p {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            position: absolute;
            bottom: 10px;
            left: 0;
            color: #DC7A33;
        }

        .main_catalog_right_bottom a {
            align-items: center;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 0;
        }

        .main_catalog_items {
            height: auto;
            background: #3A3A3A;
        }

        .main_catalog_div {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .description_div {
            height: auto;
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(1, 100%);
            width: 80%;
            max-width: 2000px; /* Ширина grid-контейнера */
            justify-content: center;
            justify-items: center; /* Размещаем карточку по центру */
            column-gap: 70px; /* Отступ между колонками */
            margin: 0 auto 0 auto;
        }

        .description_card {
            height: auto;
        }

        .stages_head,
        .functions_head {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 50px;
        }
        .functions_head {
            margin: 50px auto 25px auto;
        }
        .stages_one,
        .stages_two,
        .stages_three,
        .stages_four {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100%;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .stages {
            height: 2000px;
        }

        .stages_top,
        .stages_bottom {
            width: 100%;
            height: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .stages_div {
            height: 100%;
            width: 90%;
        }

        .stages_bottom {
            position: absolute;
            top: 50%;
        }

        .stages_description {
            margin-left: 0;
        }

        .stages_photo {
            height: 150px;
        }

        .description_top {

            font-size: 28px;
            width: 100%;
            align-items: center;
            text-align: left;
            color: #DC7A33;
        }

        .functions_string {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            margin-top: 50px;
            gap: 50px;
        }
        .function{
            width: 100%;
        }
        .functions_div{
            width: 90%;
        }
    }

    @media (max-width: 399px) {
        .heading_head {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 350;
            font-size: 48px;
            color: #DC7A33;
            margin-bottom: 0;
            text-align: center;
        }

        .heading_text {
            margin-top: 0px;
            width: 300px;
            height: 40px;
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: lowercase;
            color: #FFFFFF;
        }

        .case {
            display: inline-block;
            position: relative;
            min-height: 134px;
            min-width: 361px;
            max-height: 134px;
            max-width: 361px;
            bottom: 0;
            margin-top: 30%;
        }

        .case img {
            height: 134px;
            width: 361px;
        }

        .numbers img {
            height: 35.5px;
            width: 27px;
        }

        .numbers {
            position: absolute;
            height: 36px;
            width: 279px;
            top: 39px;
            left: 42px;
            display: flex;
            flex-direction: row;
        }

        .number1 {
            margin-right: 17px;
            margin-left: -1px;
        }

        .number2 {
            margin-right: 12px;
        }

        .number3 {
            margin-right: 18px;
        }

        .number4 {
            margin-right: 12px;
        }

        .number5 {
            margin-right: 18px;
        }

        .dot1, .dot2 {
            height: 15px;
            width: 7.5px;
            margin-top: 26.5px;
            margin-right: 13px;
        }

        .dot1 img, .dot2 img {
            height: 15px;
            width: 7.5px;
        }

        .carousel {
            max-width: 300px;
            position: relative;
            margin-top: auto;
            margin-bottom: auto;

        }

        .carousel .btn {
            display: none
        }


        .scroller {
            overflow-x: scroll;
            display: flex;
            scroll-snap-type: x mandatory;
        }

        .item {
            min-width: 100%;
            min-height: 180px;
            scroll-snap-align: center;
        }

        .item img {
            width: 300px;
            height: 180px;
        }

        .main_info {
            width: 100%;
            height: 500px;
            background: #181818;
        }

        .main_info_div {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            position: relative;
        }

        .main_info_left, .main_info_right {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: 50%;
        }

        .main_info_right {
            top: 0;
            left: 10px;
            width: 90%;
            margin-top: 40px;
        }

        .main_info_text {
            height: 100%;
            width: 100%;
            margin-left: 0px;
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 25px;
            color: #FFFFFF;
            margin-top: auto;
            margin-bottom: auto;
        }

        .card {
            width: 220px;
            min-height: 350px;
            display: flex;
            flex-direction: column; /* Размещаем элементы в колонку */
            transition: 0.2s;
            position: relative;
            background: #181818;
            border: 1px solid black;
            margin-bottom: 10px;

        }

        .card_top {
            flex: 0 0 150px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
            position: relative;
            overflow: hidden; /* Скрываем, что выходит за пределы */
            margin: 10px 10px 0 10px;
        }

        .card_image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .card_image > img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Встраиваем картинку в контейнер card__image */
            transition: 0.2s;
        }

        .card_image:hover > img {
            transform: scale(1.1);
        }

        .card_bottom {
            margin: 0 10px 10px 10px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
        }

        .card_bottom form {
            margin-top: 5px;
            margin-bottom: 0;
        }

        .card_title {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 100%;
            color: #DC7A33;
            text-decoration: none;
            cursor: pointer;
        }

        .card_price {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 100%;
            color: #DC7A33;
        }

        .card_title:hover {
            color: #DC7A33;
            text-decoration: underline;
        }

        .card_add,
        .card_buy,
        .catalog_button {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            display: block;
            box-sizing: border-box;
            width: 100%;
            color: #181818;
            background: #DC7A33;
            padding: 7px;
            text-align: center;
            border: 1px solid black;
            cursor: pointer; /* Меняем курсор при наведении */
            margin-top: auto;
            text-decoration: none /* Прижимаем кнопку к низу карточки */
        }

        .catalog_button {
            font-size: 28px;
            width: 100%;
        }

        .card_add {
            background: #181818;
            color: #DC7A33;
        }

        .card_add:hover {
            background: #DC7A33;
            color: #fff;
        }

        .card_buy:hover,
        .catalog_button:hover {
            color: #fff;
        }

        .main_catalog_left {
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(2, 225px); /* Ширина grid-контейнера */
            max-width: 1000px;
            justify-content: left;
            justify-items: left; /* Размещаем карточку по центру */
            column-gap: 50px; /* Отступ между колонками */
            margin: 50px 0px 0px 0px;
            height: 50%;
            width: 100%;
            float: top;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }

        .main_catalog_right {
            justify-content: center;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 50%;
            width: 100%;
            float: bottom;
        }

        .main_catalog_right_top, .main_catalog_right_bottom {
            flex: 0 0 250px;
            position: relative;
        }

        .main_catalog_right_top p {
            font-family: 'GOST Common';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            position: absolute;
            bottom: 10px;
            left: 0;
            color: #DC7A33;
        }

        .main_catalog_right_bottom a {
            align-items: center;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 0;
        }

        .main_catalog_items {
            height: auto;
            background: #3A3A3A;
        }

        .main_catalog_div {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            margin-left: auto;
            margin-right: auto;
        }

        .description_div {
            height: auto;
            display: grid;
            /* Автоматически заполняем на всю ширину grid-контейнера */
            grid-template-columns: repeat(1, 100%);
            width: 80%;
            max-width: 2000px; /* Ширина grid-контейнера */
            justify-content: center;
            justify-items: center; /* Размещаем карточку по центру */
            column-gap: 70px; /* Отступ между колонками */
            margin: 0 auto 0 auto;
        }

        .description_card {
            height: auto;
        }
    }

</style>

{% extends 'nixie_app/index.html' %}

{% block 'title' %} Главная {% endblock %}

{% block nav_main %}
    class="active"
{% endblock %}

{% block 'page_content' %}

    <script type="text/javascript">
        function setCookie(name, value, options = {}) {
            options = {
                path: '/',
                // при необходимости добавьте другие значения по умолчанию
                ...options
            };
            if (options.expires instanceof Date) {
                options.expires = options.expires.toUTCString();
            }
            let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
            for (let optionKey in options) {
                updatedCookie += "; " + optionKey;
                let optionValue = options[optionKey];
                if (optionValue !== true) {
                    updatedCookie += "=" + optionValue;
                }
            }
            document.cookie = updatedCookie;
        }

        // возвращает куки с указанным name,
        // или undefined, если ничего не найдено
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        if (getCookie('hello') == null || getCookie('hello') !== 'true') {
            alert("Сайт является учебным проектом, а не коммерческим продуктом. Любая покупка на сайте будет засчитана как пожертвование разработчику (итоговые цены товаров в 1000 раз меньше, чем указано)");
            // записываем в куки, что уведомление было показано
            setCookie('hello', 'true');
        }


        /* функция добавления ведущих нулей */
        /* (если число меньше десяти, перед числом добавляем ноль) */
        function zero_first_format(value) {
            if (value < 10) {
                value = '0' + value;
            }
            return value;
        }

        /* функция получения текущей даты и времени */
        function date_time() {
            var current_datetime = new Date();
            var hours = zero_first_format(current_datetime.getHours());
            var minutes = zero_first_format(current_datetime.getMinutes());
            var seconds = zero_first_format(current_datetime.getSeconds());

            return hours + ":" + minutes + ":" + seconds;
        }

        /* каждую секунду получаем текущую дату и время */
        /* и вставляем значение в блок с id "current_date_time_block" */
        setInterval(function () {
            document.getElementById('number1').innerHTML = '<img src="images/numbers/' + String(date_time())[0] + '.png" height="71" width="54" alt=""/>';
            document.getElementById('number2').innerHTML = '<img src="images/numbers/' + String(date_time())[1] + '.png" height="71" width="54" alt=""/>';
            document.getElementById('number3').innerHTML = '<img src="images/numbers/' + String(date_time())[3] + '.png" height="71" width="54" alt=""/>';
            document.getElementById('number4').innerHTML = '<img src="images/numbers/' + String(date_time())[4] + '.png" height="71" width="54" alt=""/>';
            document.getElementById('number5').innerHTML = '<img src="images/numbers/' + String(date_time())[6] + '.png" height="71" width="54" alt=""/>';
            document.getElementById('number6').innerHTML = '<img src="images/numbers/' + String(date_time())[7] + '.png" height="71" width="54" alt=""/>';
        }, 500);
        setInterval(function () {
            document.getElementById('dot1').innerHTML = '<img src="images/numbers/dot.png" height="30" width="15" alt=""/>';
            document.getElementById('dot2').innerHTML = '<img src="images/numbers/dot.png" height="30" width="15" alt=""/>';
        }, 500);
        setInterval(function () {
            document.getElementById('dot1').innerHTML = '';
            document.getElementById('dot2').innerHTML = '';
        }, 1000);

    </script>


    <section class="clock">
        <div class="heading">
            <p class="heading_head">Ламповые часы</p>
            <p class="heading_text">Современный элемент интерьера в стильном оформлении ретро-электроники</p>
        </div>

        <div class="case">
            <img src="images/watch_main.png" height="268" width="722" alt=""/>

            <div class="numbers">
                <div class="number1" id="number1"></div>
                <div class="number2" id="number2"></div>
                <div class="dot1" id="dot1"></div>
                <div class="number3" id="number3"></div>
                <div class="number4" id="number4"></div>
                <div class="dot2" id="dot2"></div>
                <div class="number5" id="number5"></div>
                <div class="number6" id="number6"></div>
            </div>
        </div>
    </section>
    <section class="main_info">
        <div class="main_info_div">
            <div class="main_info_left">
                <div class="carousel">
                    <div class="scroller">
                        <div class="item">
                            <img src="images/main_info1.jpeg" width="500" height="300"/>
                        </div>
                        <div class="item">
                            <img src="images/main_info2.jpg" width="500" height="300"/>
                        </div>
                        <div class="item">
                            <img src="images/main_info3.jpg" width="500" height="300"/>
                        </div>
                    </div>
                    <div class="btn prev">
                        <img src="/images/prev_button.png"/>
                    </div>
                    <div class="btn next">
                        <img src="/images/next_button.png"/>
                    </div>
                </div>
            </div>
            <div class="main_info_right">
                <a class="main_info_text">Часы на газоразрядных индикаторах - стильный аксессуар для собственного
                    использования и отличный подарок
                    на любой повод. Это произведение искусства электроники и ручной обработки материалов.
                    Данные часы гарантируют погружение в эпоху СССР, ведь такие же лампы использовались в хорошо
                    знакомых
                    многим советских игровых автоматах.</a>
            </div>
        </div>
    </section>
    <section class="main_catalog_items">
        <div class="main_catalog_div">
            <div class="main_catalog_left">
                <div class="card">
                    <!-- Верхняя часть -->
                    <div class="card_top">
                        <!-- Изображение-ссылка товара -->
                        <a href="{{ products.0.get_absolute_url }}" class="card_image">
                            <img src="












                                    {% if products.0.image1 %}{{ products.0.image1.url }}{% else %}{{ "/images/sample.png" }}{% endif %}"/>
                        </a>
                    </div>
                    <!-- Нижняя часть -->
                    <div class="card_bottom">
                        <!-- Ссылка-название товара -->
                        <a href="{{ products.0.get_absolute_url }}" class="card_title">
                            {{ products.0.name }}
                        </a>
                        <!-- Цена на товар -->
                        <div class="card_price">
                            {{ products.0.price }} руб.
                        </div>

                        <!-- Кнопки купить и добавить в корзину -->
                        <a href="{% url "orders:order_create_one" products.0.id %}" class="card_buy">Купить</a>
                        <form action="{% url "cart:cart_add" products.0.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <button type="submit" class="card_add">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <!-- Верхняя часть -->
                    <div class="card_top">
                        <!-- Изображение-ссылка товара -->
                        <a href="{{ products.last.get_absolute_url }}" class="card_image">
                            <img src="













                                    {% if products.last.image1 %}{{ products.last.image1.url }}{% else %}{{ "/images/sample.png" }}{% endif %}"/>
                        </a>
                    </div>
                    <!-- Нижняя часть -->
                    <div class="card_bottom">
                        <!-- Ссылка-название товара -->
                        <a href="{{ products.last.get_absolute_url }}" class="card_title">
                            {{ products.last.name }}
                        </a>
                        <!-- Цена на товар -->
                        <div class="card_price">
                            {{ products.last.price }} руб.
                        </div>

                        <!-- Кнопки купить и добавить в корзину -->
                        <a href="{% url "orders:order_create_one" products.last.id %}" class="card_buy">Купить</a>
                        <form action="{% url "cart:cart_add" products.last.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <button type="submit" class="card_add">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="main_catalog_right">
                <div class="main_catalog_right_top">
                    <p>Подберите
                        себе идеальные часы</p>
                </div>
                <div class="main_catalog_right_bottom">
                    <a class="catalog_button" href="/catalog/">Перейти в каталог</a>
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="description_div">
            <div class="description_card">
                <div class="description_card_top">
                    <p>МАТЕРИАЛЫ</p>
                </div>
                <div class="description_card_bottom">
                    <p>Корпуса ручной работы изготавливаются из ценных пород дерева</p>
                </div>
            </div>
            <div class="description_card">
                <div class="description_card_top">
                    <p>РУЧНАЯ СБОРКА</p>
                </div>
                <div class="description_card_bottom">
                    <p>Каждый экземпляр собирается вручную с использованием газоразрядных индикаторов производства
                        СССР</p>
                </div>
            </div>
            <div class="description_card">
                <div class="description_card_top">
                    <p>ЭЛЕКТРОНИКА</p>
                </div>
                <div class="description_card_bottom">
                    <p>Каждая плата управления часов проходит тщательный контроль, благодаря этому гарантирован точный
                        ход
                        часов и долгий срок службы ламп</p>
                </div>
            </div>
            <div class="description_card">
                <div class="description_card_top">
                    <p>КОМЛЕКТАЦИЯ</p>
                </div>
                <div class="description_card_bottom">
                    <p>В комплект поставки часов входят часы, инструкция и блок питания</p>
                </div>
            </div>
        </div>
    </section>

    <section class="stages">
        <div class="stages_div">
            <div class="stages_head">ЭТАПЫ ПРОИЗВОДСТВА</div>
            <div class="stages_one">
                <div class="stages_top">
                    <div class="stages_number">I</div>
                    <div class="stages_photo">
                        <img src="images/process_find.jpg" alt=""/>
                    </div>
                </div>
                <div class="stages_bottom">
                    <div class="stages_description">
                        <div class="description_top">ПОДБОР ИНДИКАТОРОВ</div>
                        <div class="description_bottom">Так как газоразрядные лампы больше не производятся,
                            следует тщательно подбирать их, находить экземпляры,
                            которые не были или почти не были в использовании.
                        </div>
                    </div>
                </div>
            </div>
            <div class="stages_two">
                <div class="stages_bottom">
                    <div class="stages_description">
                        <div class="description_top">УСТАНОВКА ЛАМП НА ПЛАТУ УПРАВЛЕНИЯ</div>
                        <div class="description_bottom">Платы управления часов проходят тестирование на точность
                            на устойчивость к перегреву. В отличие от многих аналогов,
                            данные часы гораздо более надежны благодаря правильно подобранным компонентам платы.
                        </div>
                    </div>
                </div>
                <div class="stages_top">
                    <div class="stages_photo">
                        <img src="images/process_solder.jpg" alt=""/>
                    </div>
                    <div class="stages_number">2</div>
                </div>
            </div>
            <div class="stages_three">
                <div class="stages_top">
                    <div class="stages_number">3</div>
                    <div class="stages_photo">
                        <img src="images/process_case.jpeg" alt=""/>
                    </div>
                </div>
                <div class="stages_bottom">
                    <div class="stages_description">
                        <div class="description_top">ИЗГОТОВЛЕНИЕ КОРПУСА</div>
                        <div class="description_bottom">Корпус изготавливается из ценных пород дерева, таких как: дуб,
                            бук,
                            ясень и т.д.
                            После обработки заготовка покрывается специальным маслом для защиты поверхности от царапин и
                            влаги,
                            также масло подчеркивает рисунок древесины.
                        </div>
                    </div>
                </div>
            </div>
            <div class="stages_four">
                <div class="stages_bottom">
                    <div class="stages_description">
                        <div class="description_top">ПРОВЕРКА И УПАКОВКА</div>
                        <div class="description_bottom">После сборки каждая модель подвергается тестированию в течение
                            нескольких дней,
                            если все в порядке, часы упаковываются и готовятся к отправке покупателю.
                        </div>
                    </div>
                </div>
                <div class="stages_top">
                    <div class="stages_photo">
                        <img src="images/process_final.jpg" alt=""/>
                    </div>
                    <div class="stages_number">4</div>
                </div>
            </div>

        </div>
    </section>

    <section class="functions">
        <div class="functions_div">
            <div class="functions_head">ФУНКЦИИ</div>
            <div class="functions_string">
                <div class="function">
                    <div class="function_photo">
                        <img src="images/function_alarm.png" alt=""/>
                    </div>
                    <div class="function_description">
                        <div class="function_description_top">УСТАНОВКА БУДИЛЬНИКА</div>
                        <div class="function_description_bottom">Часы позволяют настроить будильник,
                            который будет срабатывать в назначенное время,
                            издавая соответствующий звук.
                        </div>
                    </div>
                </div>
                <div class="function">
                    <div class="function_photo">
                        <img src="images/function_format.png" alt=""/>
                    </div>
                    <div class="function_description">
                        <div class="function_description_top">СМЕНА ФОРМАТА</div>
                        <div class="function_description_bottom">Есть возможность смены
                            формата отображения времени - 12
                            или 24 часа.
                        </div>
                    </div>
                </div>
            </div>
            <div class="functions_string">
                <div class="function">
                    <div class="function_photo">
                        <img src="images/function_memory.png" alt=""/>
                    </div>
                    <div class="function_description">
                        <div class="function_description_top">ПАМЯТЬ ВРЕМЕНИ</div>
                        <div class="function_description_bottom">Часы программно продолжают
                            идти даже после отключения от сети,
                            срок памяти приблизительно равен одному месяцу.
                        </div>
                    </div>
                </div>
                <div class="function">
                    <div class="function_photo">
                        <img src="images/function_numbers.png" alt=""/>
                    </div>
                    <div class="function_description">
                        <div class="function_description_top">ПЕРЕБОР ЦИФР</div>
                        <div class="function_description_bottom">Каждую минуту на всех лампах перебираются цифры,
                            это делается для увеличения срока службы ламп,
                            а также добавляет эффектности.
                        </div>
                    </div>
                </div>
            </div>
            <div class="functions_string">
                <div class="function">
                    <div class="function_photo">
                        <img src="images/function_colors.png" alt="" style="object-fit: fill"/>
                    </div>
                    <div class="function_description">
                        <div class="function_description_top">ПОДСВЕТКА</div>
                        <div class="function_description_bottom">Есть возможность выбрать подсветку ламп из 7 цветов,
                            либо отключить ее.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#    скрипт кнопок для прокрутки карусели#}
    <script>
        const testimonials = document.querySelector('.carousel');
        const scroller = testimonials.querySelector('.scroller');
        const nextBtn = testimonials.querySelector('.btn.next');
        const prevBtn = testimonials.querySelector('.btn.prev');
        const itemWidth = testimonials.querySelector('.item').clientWidth;

        nextBtn.addEventListener('click', scrollToNextItem);
        prevBtn.addEventListener('click', scrollToPrevItem);

        function scrollToNextItem() {
            scroller.scrollBy({left: itemWidth, top: 0, behavior: 'smooth'});
        }

        function scrollToPrevItem() {
            scroller.scrollBy({left: -itemWidth, top: 0, behavior: 'smooth'});
        }
    </script>
{% endblock %}

